{% extends 'base.html' %}

{% block content %}
    <div>
        {% if mode == 'base' %}
            <p style="text-align: center;">ADD YOUR INGREDIENTS</p>
        {% endif %}
        <a href="{{ url_for('log_meal', mode='servings') }}" class="nav-btn
        {% if mode == 'servings' %}active{% endif %}">BY SERVINGS</a>
        <a href="{{ url_for('log_meal', mode='weight') }}" class="nav-btn
        {% if mode == 'weight' %}active{% endif %}">BY WEIGHT</a>
        <a href="{{ url_for('log_meal', mode='quick') }}" class="nav-btn
        {% if mode == 'quick' %}active{% endif %}">QUICK ADD</a>
        <form action="" method="POST" novalidate>
            {% if mode=='servings' %}
                {{ form.hidden_tag() }}
                <p>
                    {{ form.servings.label }}<br>
                    {{ form.servings(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.servings.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.calories.label }}<br>
                    {{ form.calories(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.calories.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.protein.label }}<br>
                    {{ form.protein(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.protein.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.fat.label }}<br>
                    {{ form.fat(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.fat.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.add(class="retro-terminal-btn") }}
                </p>
            
            {% elif mode=='weight' %}
                {{ form.hidden_tag() }}
                <p>
                    {{ form.weight_servings.label }}<br>
                    {{ form.weight_servings(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.weight_servings.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.weight.label }}<br>
                    {{ form.weight(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.weight.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.calories.label }}<br>
                    {{ form.calories(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.calories.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.protein.label }}<br>
                    {{ form.protein(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.protein.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.fat.label }}<br>
                    {{ form.fat(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.fat.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.add(class="retro-terminal-btn") }}
                </p>     
            {% elif mode=='quick' %}
                {{ form.hidden_tag() }}
                <p>
                    {{ form.calories.label }}<br>
                    {{ form.calories(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.calories.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.protein.label }}<br>
                    {{ form.protein(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.protein.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.fat.label }}<br>
                    {{ form.fat(type="number", step="any", autocomplete="off", min=0, class="macro-input") }}<br>
                    {% for error in form.fat.errors %}
                    <span style="color: #00ff9c;">-{{ error }}-</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.add(class="retro-terminal-btn") }}
                </p>
        </form>
        {% endif %}
    </div>
    {% if mode != 'base' %}
        {% include 'ingredients.html' %}
    {% endif %}
    
{% endblock %}