{% extends 'base.html' %}
{% block content %}
<form action="" method="POST" novalidate onsubmit="return confirm('Change macro targets?')">
    {{ form.hidden_tag() }}
    <p>
        {{ form.target_calories.label }}<br>
        {{ form.target_calories() }}
    </p>
    <p>
        {{ form.target_protein.label }}<br>
        {{ form.target_protein() }}
    </p>
    <p>
        {{ form.target_fat.label }}<br>
        {{ form.target_fat() }}
    </p>
    <p>{{ form.submit(class="retro-terminal-btn") }}</p>
</form>
{% endblock %}